/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.Banner img{
  width: 100%;
  height: 70vh;
}
.Property-title{
  text-align: center;
  position: relative;
  top: 20px;
  text-decoration: underline;
  font-size: 30px;
}
.Property-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  gap: 1%;
}