.App-header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.Banner img {
  width: 100%;
  height: 70vh;
}

.Property-title {
  text-align: center;
  position: relative;
  top: 20px;
  text-decoration: underline;
  font-size: 30px;
}

.Property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  gap: 1%;
}

.Property-list a {
  text-decoration: none;
  color: black;
}

.App-footer {
  /* position: fixed;
  bottom: 0; */
  background-color: rgb(145, 181, 196);
  padding: 10px;
  width: 100%;
}

.Copyright {
  font-size: 20px;
}

.Property-detail {
  position: relative;
  margin-top: 20px;
  left: 200px;
  right: 200px;
}

.icon-btn {
  padding: 1px;
}